/* header */
header {background: rgba(255, 255, 255, 0.884);
width: 100%; height: 60px; margin: 0 auto;
display: flex;
flex-flow: row nowrap;
justify-content: space-between;
align-items: center;
position: fixed; left: 50%;
transform: translateX(-50%);
padding: 0 30px;
padding-top: 10px;
}
header .logo1 {/* background: lightblue;
    background-image: url(../images/apc_logo1.png) 80%; */
    width: 160px; height: 50px ;
    /* background-size: cover; */
}  
header .logo1 a img {width: 100%;}
/* header .logo1:hover {
    background-image: url(../images/apc_logo2.png);
} */
header .logo1:hover img {opacity: 0; }
header .logo1:hover {background: url(../images/apc_logo2.png) no-repeat ;
background-size:160px 41px;

}
header nav {
}
header nav > ul {
    display: flex;
}
header nav > ul > li {
    position: relative;
    text-align: center;
}
header nav > ul > li > a:hover {
    font-weight: 800; 
}
header nav > ul > li > a {
    display: block; width: 150px;
    font-size: 1.333rem;
    font-weight: 800;
    height: 20px;
}
header nav > ul > li > .sub {
    width: 100%;  
    top: 35px;
    position: absolute; background: rgba(255, 255, 255, 0.884);
}
header nav > ul > li > .sub li {}
header nav > ul > li > .sub li a:hover {
    font-weight: 500;
    background: rgba(0, 0, 0, 0.685);
    color: #fff;
}
header nav > ul > li > .sub li a {
    display: block; line-height: 40px; text-align: center;
    border-bottom: 1px dotted #d8d8d8;
    /* white-space: nowrap; */
}
header .lnb { 
    display: flex;
}
header .lnb h2:first-child {padding-left: 0;}
header .lnb h2 {
    padding-left: 20px;
}
header .lnb h2 a {}
header .lnb h2 a img {}

/* footer */
footer {background: rgb(0, 0, 0);
    width:100%; margin: 0 auto;
    display: flex;
    flex-flow:  column nowrap;
    justify-content: space-between;
    padding: 50px 40px;
    color: #fff;

}
footer .f_logo {padding-bottom: 50px;}
footer .f_logo h1 {}
footer .f_logo h1 a {}
footer .f_logo h1 a img {width: 160px;}
footer .f_info .f_main {
    padding: 0 50px;
}
footer .f_info .f_main .f_top {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-bottom: 10px ;
    border-bottom:1px solid #ffffff ;
}
footer .f_info .f_main .f_top .left {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding-right: 460px;
}
footer .f_info .f_main .f_top .left li {
    padding: 0 10px;}
footer .f_info .f_main .f_top .left li a {
    padding-right: 30px;
    color: #fff;
}
footer .f_info .f_main .f_top .left li a em {
    font-weight: 600;
}
footer .f_info .f_main .f_top .right {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;}
footer .f_info .f_main .f_top .right li {
    padding: 0 10px;
}
footer .f_info .f_main .f_top .right li a {
    padding-left: 30px;
    color: #fff;
}
footer .f_info .f_btm {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 30px 60px ;
}
footer .f_info .f_btm .txt {}
footer .f_info .f_btm .txt address {
    line-height: 30px;
    font-size: 0.75rem;
}
footer .f_info .f_btm .txt address a {
    border-bottom: 1px solid #ffffff;
    font-size: 0.75rem;
    color: #fff;
}
footer .f_info .f_btm .sns {
    display: flex;
}
footer .f_info .f_btm .sns a {
    padding-right: 15px;
}
footer .f_info .f_btm .sns p a img {}
