/* 로그인 유저타입 */
main {
    margin: 0 auto;
    padding:50px 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
main h1 {
    font-size: 3.15rem;
    font-weight: 700;
    padding: 100px 50%;
}
main .userType {
    width: 500px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
main .userType h2 a {
    font-size: 1.5rem;
    font-weight: 700;
    width: 250px;
    /* padding:0 59px 30px 59px; */
    margin-bottom: 70px;
    text-align: center;
    padding-bottom:30px ;
    letter-spacing: -0.02rem;
    border-bottom: 4px solid #aaa;
    color:#aaa ;
    display: inline-block;
}

main .userType h2 .active {
    border-bottom: 4px solid #000;
    color: #000;}
main .content { height: 600px;}
/* 회원로그인 */
main .content .tab1 {
}
main .content .tab1 form {}
main .content .tab1 form fieldset {}
main .content .tab1 form fieldset .login {
}

main .content .tab1 form fieldset .login div{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding-bottom:30px;
}
main .content .tab1 form fieldset .login .login_id span {
    padding-bottom: 5px;
    font-weight: 700;
}
main .content .tab1 form fieldset .login .login_id #id::placeholder {
    padding: 10px;
}
main .content .tab1 form fieldset .login .login_id #id {
    border: 1px solid #929292;
    height: 45px;
}
main .content .tab1 form fieldset .login .login_pw span {
    padding-bottom: 5px;
    font-weight: 700;
}
main .content .tab1 form fieldset .login .login_pw #pw::placeholder {
    padding: 10px;
}
main .content .tab1 form fieldset .login .login_pw #pw {
    border: 1px solid #929292;
    height: 45px;
}
main .content .tab1 form fieldset .login .login_pw #pw a {}
main .content .tab1 form fieldset .login .login_pw #pw a img {}
main .content .tab1 form fieldset .loginFrm {}
main .content .tab1 form fieldset .loginFrm .loginAuto {}
main .content .tab1 form fieldset .loginFrm .loginAuto label {}
main .content .tab1 form fieldset .loginFrm .loginAuto label #auto {

}
main .content .tab1 form fieldset .loginFrm .loginAuto label span{
    font-size: 0.9rem;
} 
main .content .tab1 form fieldset button:hover {background: rgb(245, 66, 164);}
main .content .tab1 form fieldset button { background: rgb(0, 0, 0);
    width: 450px; height: 45px;
    font-size: 1.25rem;
    font-weight: 700;
    color: #fff;
    margin: 30px 0;
}
main .content .tab1 form fieldset .loginFind {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    text-align: center;
}
main .content .tab1 form fieldset  .loginFind p:last-child {border-right: none;}
main .content .tab1 form fieldset  .loginFind p a:hover {
    color: #929292;
}
main .content .tab1 form fieldset  .loginFind p {
    border-right: 1px solid #222;
    padding: 0 10px;
}
main .content .tab1 .naver_login  {
    position: relative; left: 25%;
    width: 230px;
    background:rgb(3, 199, 90);
    border-right: 1px solid #fff;
    text-align: center;
    
}
main .content .tab1 .naver_login .naver_form{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
main .content .tab1 .naver_login .naver_form .naver_logo {
    width:40px; height: 40px;
}
main .content .tab1 .naver_login .naver_form .naver_logo img {width: 100%;}
main .content .tab1 .naver_login .naver_form .naver_txt {
    padding: 0 10px;
    color: #fff;
}
main .content .tab1 .naver_login .naver_form:hover {
    background-color:rgb(26, 134, 75);
}
main .content .tab1 .naver_login .naver_form .naver_txt em {
    font-weight: 700;
}
/* 비회원 로그인 */
main .content .tab2 {}
main .content .tab2 form {}
main .content .tab2 form fieldset {}
main .content .tab2 form fieldset ul {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;}
main .content .tab2 form fieldset ul li {
    padding-bottom: 30px;
}
main .content .tab2 form fieldset ul li p {    
    padding-bottom: 7px;
    font-weight: 700;
}
main .content .tab2 form fieldset ul li #user_name {
    border: 1px solid #929292;
    width: 450px; height: 45px;
}
main .content .tab2 form fieldset ul li #user_name::placeholder {
    padding: 10px;
}
main .content .tab2 form fieldset ul li #user_num::placeholder {
    padding: 10px;
}
main .content .tab2 form fieldset ul li #user_num {
    border: 1px solid #929292;
    width: 450px; height: 45px;
}
main .content .tab2 form fieldset button:hover{background: rgb(245, 66, 164);
}
main .content .tab2 form fieldset button {background: rgb(0, 0, 0);
    width: 450px; height: 45px;
    font-size: 1.25rem;
    font-weight: 700;
    color: #fff;
    margin: 10px 0 80px;
}
main .content .tab2 .join p {
    color: rgb(245, 66, 164);
}
main .content .tab2 .join a > p:hover {
    background-color: #a0a0a0;
}
main .content .tab2 .join a > p {background: rgb(0, 0, 0);
    color: #fff;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    font-weight: 600;
    margin: 10px 0;
}