main {
    width: 1130px; margin: 0 auto;
    padding-top: 76PX;
    padding:76px 50px 0;
    position: relative; top: 60px;
}
main > h3 {
    padding: 50px 0 10px;
    color: #222;
}
main h3 em {
    font-weight: 700;
    font-size: 1.2rem;
}
main .product {
    width: 1130px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border-bottom: 1px solid #656565;
    border-top: 1px solid #656565;
    padding: 50px 0;
}
main .product .p_left {}
main .product .p_left .main_img {width: 600px; height: 700px;}
main .product .p_left .main_img img {width: 100%;}
main .product .p_right {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}
main .product .p_right .title {
    padding-bottom: 30px;
}
main .product .p_right .title h3 {
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 12px;
}
main .product .p_right .title p>span{
    font-weight: 500;
}
main .product .p_right .title p:last-child {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 40px;
    
}
main .product .p_right .info {
    border-top:1px solid #aaa ;
    border-bottom: 1px solid #aaa;
    padding: 30px 0;
}
main .product .p_right .info p:last-child {padding-bottom: 0;}
main .product .p_right .info p {
    padding-bottom: 15px;
}
main .product .p_right .info p a {}
main .product .p_right .color_option {
    padding: 30px 0;
}
main .product .p_right .color_option p {
    font-weight: 600;
    padding-bottom: 15px;
}
main .product .p_right .color_option a {width: 107px; height: 125px; 
}
main .product .p_right .color_option a img:hover {
    border: 1px solid #000;
}
main .product .p_right .color_option a img {width: 107px; height: 125px;
    border: 1px solid #aaa;}
/* 사이즈 옵션 */
main .product .p_right .size {
    padding: 30px 0;
    border-bottom: 3px solid #000000;
}
main .product .p_right .size p {
    font-weight: 600;
    padding-bottom:15px ;
}
main .product .p_right .size form {}
main .product .p_right .size form fieldset {}
main .product .p_right .size form fieldset ul {
    display: flex;
    flex-flow:row nowrap ;

}
main .product .p_right .size form fieldset ul li button {background: none;}
main .product .p_right .size form fieldset ul li button:hover {
    color:rgb(255, 109, 24) ;
}
main .product .p_right .size form fieldset ul li {
    border: 1px solid #656565;
    margin-right: 15px;
    padding: 10px 20px;
    border-radius: 5px;
}
main .product .p_right .size form fieldset ul li label {}
main .product .p_right .size form fieldset ul li label input {
}
/* 수량 및 최종가격 */
main .product .p_right .total {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 30px 0;
}
main .product .p_right .total .count {
    display: flex;
    flex-flow: row nowrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 1px solid #d6d2d2;
}
main .product .p_right .total .count > * {
    width: 45px; height: 45px;
    font-size: 1.25rem;
}
main .product .p_right .total .count #minus  {
}
main .product .p_right .total .count #countNum {
    /* position: relative; top: 10px; */
    text-align: center;
    padding-top: 8%;
    border-right: 1px solid #d6d2d2;
    border-left: 1px solid #d6d2d2;
    font-weight: 400;
}
main .product .p_right .total .count #plus {}
main .product .p_right .total p {
    font-weight: 600;
}
main .product .p_right .total p em { 
    font-size: 1.7rem;
    font-weight: 700;
    padding-left: 5px;
}
/* 장바구니/구매하기 */
main .product .cart_buy #cartBtn:hover{background: #fff;
    border: 3px solid #000;
    color: #000;
}
main .product .cart_buy #buyBtn:hover{background: #fff;
    border: 3px solid rgb(255, 109, 24);
    color: rgb(255, 109, 24);
}
main .product .cart_buy {
    padding: 30px 0; 
}
main .product .cart_buy #cartBtn {background :rgb(2, 2, 2);
    border: 1px solid rgb(0, 0, 0);
    width: 250px; height:50px ;
    border-radius: 5px;
    margin-right: -7px;
    font-weight: 600;
    color: #fff;
}
main .product .cart_buy #buyBtn {background :rgb(255, 109, 24);
    border: 1px solid rgb(255, 114, 33);
    width: 250px; height:50px;
    border-radius: 5px;
    font-weight: 600;
    color: #ffffff;
}
/* 상품소개*/
main #product_info  {
    padding: 100px 0 ; margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
    margin-bottom: 100px;
}
main #product_info .tab_title {
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding-bottom: 100px;
}
main #product_info .tab_title > *:hover {background:  #ebebeb;
}
main #product_info .tab_title a {
    width: 300px; height: 60px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}
main #product_info .tab_title a:last-child {
    border-radius: 0 20px 0 0 ;
}
main #product_info .tab_title a:first-child {
    background: #000;
    color: #fff;
    border-radius: 20px 0 0 ;
}
main #product_info .tab_title a h3 {
    font-weight: 700;
}
/* tab contents */
main #product_info .tab_contents {
    width: 900px; margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
}
main #product_info .tab_contents .tab_c1 {
}
main #product_info .tab_contents .tab_c1 .list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
main #product_info .tab_contents .tab_c1 .detail {
    margin-bottom: 100px;
    text-align: left;
    width: 600px;
}
main #product_info .tab_contents .tab_c1 .detail h4 {
    font-size:1.25rem ;
    font-weight: 700;
    padding:10px 0 ;
    border-bottom: 1px solid #000000;
    margin-bottom: 30px;
    
}
main #product_info .tab_contents .tab_c1 .detail p {
    font-weight: 700;
    /* text-align: center; */
    line-height: 30px;
    padding: 0 20px;
}
main #product_info .tab_contents .tab_c1 .d_img {
}
main #product_info .tab_contents .tab_c1 .d_img p {
}
main #product_info .tab_contents .tab_c1 .d_img p img {
    width: 680px; height: 775px;
    padding-bottom: 50px;}
main #product_info .tab_contents .tab_c1 .d_info {
    text-align: left;
    padding: 100px  0;
}
main #product_info .tab_contents .tab_c1 .d_info h4 {
    font-size:1.25rem ;
    font-weight: 700;
    padding:10px 0 ;
    width: 600px;
    border-bottom: 1px solid #000000;
    margin-bottom: 30px;
}
main #product_info .tab_contents .tab_c1 .d_info p {
    font-weight: 700;
    /* text-align: center; */
    line-height: 30px;
    padding: 0 20px;}
main #product_info .tab_contents .tab_c1 .size_guide {
    text-align: left;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
main #product_info .tab_contents .tab_c1 .size_guide h4 {
    font-size:1.25rem ;
    font-weight: 700;
    padding:10px 0 ;
    width: 600px;
    border-bottom: 1px solid #000000;
    margin-bottom: 50px;}
main #product_info .tab_contents .tab_c1 .size_guide p {
    margin-bottom: 30px;
}
main #product_info .tab_contents .tab_c1 .size_guide h4 p img {
    width: 100%;
}
/* tab2 */
main #product_info .tab_contents .tab_c2 {}
/* tab3 */
main #product_info .tab_contents .tab_c3 {}
